
body {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
}
.topHeader {
  border-top: 1px solid gainsboro;
  text-align: center;
  background-size: contain;
}
header nav {
    width: 100%;
    min-width: 900px;
    background-color: black;
    position: fixed;
    z-index: 999;
    border: solid 3px #000;
}
header ul li.li-menu a {
    color: white;
}
div#dataContainer {
    color: #fff;
}
*, ::after, ::before {
    box-sizing: border-box;
    COLOR: WHITE; list-style: none;
}

a {
    color: #ec01c2;
    text-decoration: none;
    background-color: transparent;
}
h1 {
    margin: auto;
    padding: 20px 20px;
    text-align: center;
    color: #03e6e8;
}
p {
    color: #3dcbcb;
  font-size: 50px;   }


.mainContainer{
    background-color: black;
}

#dataContainer{width: 1000px; margin:auto}

header nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
header nav ul.ul-logo {
  float: left;

  width: 350px;
  padding: 30px;
}
header nav ul.ul-menu {
  margin-top: 25px;
  float: left;
  justify-content: space-around;

}
header ul li.li-logo img {
  width: 24%;
  text-align: center;

}
header ul li {
  list-style-type: none;
  font-size: 40px;
}
header ul li.li-menu{
  float: left;
  padding: 30px 20px;
  font-size: 30px;
  font-weight: bold;

}
input {
  font-size: 30px;
}


header a {
  text-decoration: none;
  color: black;

}


footer {
  margin:auto;
  background-image: url(../images/footer.jpg);
  background-size: contain;
  border: solid 3px #FF00CD;
}

h1 {margin: auto; padding: 20px 20px; text-align: center; color: white;}

.logofooter{
width: 1px;
margin-top: 50px;

}
.divdelaimagen img {width: 150px;}

.nombresfooter{
  width: -10px;
  float: right;
  margin-top: 90px;
  height: 1px;
}

footer ul.ul-logo{
  float: left;
  margin-top: -30px;
  width: 10px;
}
footer ul li {
  width: 25%;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
}
.divdelfooter {width:1000px; margin:auto; height:100%; border: }
.divdelaimagen {padding: 20px; display:inline-block;}
.divdelosnombres{color:white; display:inline-block; float:right; font-size: 30px;padding-top: 70px;}
footer ul li {
  list-style-type: none;
}

.color-white {
  color: white;
}

.color-gray {
  color: gray;
}



.display-none {
  display: none;
}
.button {
  border: 1px solid gainsboro;
  padding: 8px 20px;
  text-transform: uppercase;
  background-color: rgb(242, 242, 234);
}
.button:hover {
  background-color: transparent;
  color: gray;
  border: 1px solid gray;
}
.bg-light {
    background-color: #000!important;
}
a.navbar-brand img {
    max-width: 100px;
}
a.nav-link {
    color: white;
    font-size:18px;
}
.active a.nav-link {
    color: #ff01cd;
    font-weight: bold;
}
ul.navbar-nav {
    margin-top: 30px;
}
.derecha {
    float:right;
    display: inline;
}
li.nav-item {
    margin-top: 30px;
}
.btn-outline-success {
    color: #212529;
    border-color: #04fffc;
    background: #05fffd;
}
form.search {
    padding-top: 30px;
    display: inline;
}
/* pagina 2 */

table, th {
    border: 2px solid #FF00CD;
    padding: 50px;
    text-align: center;
}
table tr th a:hover {
    text-decoration: none;
    color: #04fffc;
}
table tr th a{ color: white; text-decoration: none;font-size: 35px; }
li.resgister {
    display: inline-block;
}

.navbar-toggler {
    padding: 20px;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #01eded;
    border: 1px solid #01eded;
    border-radius: .25rem;
}
.navbar-toggler-icon {
    display: block;
    width: 1.5em;
    height: 2px;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    background: black;
    margin: 5px 0px;
}

/* pagina 2 */
@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
@media (max-width: 991px) {
  form.search {
      display: block;
  }
}


#carousel-recomendaciones{
  display: none;
}
.card-title {
    margin-bottom: .75rem;
    color: black;
}
