
body {
  font-family: Poiret One;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
}

header nav {
  height: 100px;
  width: 100%;
  background-color: white;
  overflow: hidden;
  position: fixed;
  z-index: 999;
  box-shadow: -2px -2px 5px gray, 2px 2px 5px gray;
}
header nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
header nav ul.ul-logo {
  float: left;
  margin-top: -20px;

}
header nav ul.ul-menu {
  margin-top: 20px;
  float: right;
  overflow: hidden;
  width: 60%;
}
header ul li.li-logo img {
  width: 25%;
}
header ul li {
  list-style-type: none;
}
header ul li.li-menu{
  float: left;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
}
header a {
  text-decoration: none;
}



footer {
  border-top: 1px solid gainsboro;
  text-align: center;
  height: 350px;
  background-image: url(footer.jpg);
  background-size: contain;
}


.logofooter{
width: 1px;
float: left;
margin-top: 50px;
}

.nombresfooter{
  width: -10px;
  float: right;
  margin-top: 90px;
  height: 1px;
}

footer ul.ul-logo{
  float: left;
  margin-top: -30px;
  width: 10px;
}
footer ul li {
  width: 25%;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
}

footer ul li {
  list-style-type: none;
}
footer div {
  margin-top: 80px;
}
.color-white {
  color: white;
}

.color-gray {
  color: gray;
}

.display-none {
  display: none;
}
.button {
  border: 1px solid gainsboro;
  padding: 8px 20px;
  text-transform: uppercase;
  background-color: rgb(242, 242, 234);

}
.button:hover {
  background-color: transparent;
  color: gray;
  border: 1px solid gray;
}

@media only screen and (max-width: 768px){

  img.uk-align-center {
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    width: 50%;
    height: 100%;
  }

  }


@media only screen and (max-width: 768px){

footer


}
/* AYUDA*/
  section.login {
      padding: 150px; text-align: center;
  }
